<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.haokuo.happyclub">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name=".application.HappyClubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:allowBackup,android:label,android:name,android:theme"
        >
        <meta-data
            android:name="design_width_in_dp"
            android:value="411"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="868"/>
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b340068d64d0ab4b2ea7c0ab65aa80c6"
            tools:replace="android:value"/>

        <service android:name="com.amap.api.location.APSService"/>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.ForgetPasswordActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.BindTelActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.SafetySettingActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.SystemSettingActivity"
            android:launchMode="singleTop"/>

        <activity
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.AboutActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.PersonalInfoActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.DeliverAddressActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.DeliverAddressDetailActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.SetPersonalInfoActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.MyRecourseActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.NewRecourseActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.CanteenActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".activity.ChooseLocationActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.FoodOrderActivity"/>
        <activity android:name=".activity.FoodOrderNoteActivity"/>
        <activity android:name=".activity.MyServeActivity"/>
        <activity android:name=".activity.VolunteerOrderActivity"/>
        <activity android:name=".activity.ReportRepairActivity"/>
        <activity android:name=".activity.RepairListActivity"/>
        <activity android:name=".activity.RepairDetailActivity"/>
        <activity android:name=".activity.SuggestListActivity"/>
        <activity android:name=".activity.ReportSuggestActivity"/>
        <activity android:name=".activity.SuggestDetailActivity"/>
        <activity android:name=".activity.ClubServiceActivity"/>
        <activity android:name=".activity.EvaluateRecourseActivity"/>
        <activity android:name=".activity.RecourseDetailActivity"/>
        <activity android:name=".activity.PointsMallActivity"/>
        <activity android:name=".activity.FoodOrderDetailActivity"/>
        <activity android:name=".activity.PayOrderActivity"/>
        <activity android:name=".activity.MallOrderDetailActivity"/>
        <activity android:name=".activity.OrderQrcodeActivity"/>
        <activity android:name=".activity.ClubServiceDetailActivity"/>
        <activity android:name=".activity.NewsDetailActivity"/>

    </application>

</manifest>